body{
    background-image: url(../img/background.avif);
    background-size: cover;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1{
    position: absolute;
    top: 100px;
    left:50%;
    transform: translate(-50%);
    font-family: 'Alkatra', cursive;
    font-size: 6rem;
    text-align: center;
    background: linear-gradient(to right, black, brown);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* SLIDER */
.slider-frame{
    position: absolute;
    z-index: 2;
    pointer-events: none;
    bottom: 65px;
    left: 400px;
}
.slider-frame img{
    width: 1150px;
    height: 740px;
}
.slider{
    width: 750px;
    height: 500px;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.slide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}
.slide.active{
    display: block;
}
.slide.active p{
    position: absolute;
    bottom: -10px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.400);
    font-style: italic;
    font-weight: 500;
    height: 50px;
}
.slide.active h2{
    position: absolute;
    bottom: 55px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.400);
    font-style: italic;
    font-weight: 500;
}

.next, .prev{
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);

}
.next{
    bottom: 0px;
    z-index: 3;
}
.prev {
    top: 25px;
    z-index: 3;
}
.next:hover, .prev:hover{
    cursor: pointer;
}
button i{
    font-size: 1.5rem;
}

/* THUMBNAIL */
.thumbnail{
    width: 150px;
    height: 500px;
    background-color: black;
    position: relative;
}
.nail{
    width: 100%;
    height: calc(100% / 5);
    display: flex;
    flex-direction: column;
}
.nail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nail img.active{
    border: 1px solid white;
    border-radius: 10px;
    opacity:1;
    scale: 1.1;
}
.nail img{
    opacity: 40%;
}

/* ALERT */
.alert{
    position: absolute;
    bottom: 60px;
    left: 51%;
    transform: translate(-50%);
    width: 30%;
}
